
div{
	text-align:center;
}
#update{
	width:200px;
	height:100px;
	border:2px solid black;
	border-radius:10px;
	margin:auto;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	transition:background-color 0.1s, transform 0.1s;
}
.playing{
	background-color:#537353;
}
